nav ul{list-style-type: none;}

body{
    font-family: 'Noto Serif JP', serif;
}

h2{
    font-size: xx-large;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    font-family: 'Playfair Display', serif;
}
.flex-container > li{
    font-size: 30px;
    margin: 25px;
}

a{
    text-decoration: none;
    color:#4092be;
}

a:hover{
    color:rgb(99, 84, 84);
}

ul{
    list-style-type: none;
}

section.padding-top{
    padding-top: 100px
}

.row{
	display: flex;	
    flex-wrap: wrap
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.project_link{
    font-family: 'Playfair Display', serif;
}

.tag{
    color: rgb(48, 48, 48);
    font-family: 'Roboto Mono', monospace;
    font-size:smaller;
    border-radius: 2px;
    opacity: 0.85;
}

.tag_personal{
    background-color: #62c295
}

.tag_course{
    background-color: #afc0c9;
}

.tag_subject{
    background-color: #4fb6ee;
}

@media only screen and (min-width: 768px){
    .col-1 {flex-basis: 8.33%;} 
    .col-2 {flex-basis: 16.66%;}
    .col-3 {flex-basis: 25%;}
    .col-4 {flex-basis: 33.33%;}
    .col-5 {flex-basis: 41.66%;}
    .col-6 {flex-basis: 50%;}
    .col-7 {flex-basis: 58.33%;}
    .col-8 {flex-basis: 66.66%;}
    .col-9 {flex-basis: 75%;}
    .col-10 {flex-basis: 83.33%;}
    .col-11 {flex-basis: 91.66%;}
    .col-12 {flex-basis: 100%;}

    .image_container1{
        border-radius: 10px;
        width: 470px;
        height: 470px;
        object-fit: cover;
    }
    
    .image_container2{
        border-radius: 10px;
        width: 400px;
        height: 220px;
        object-fit: cover;
    }

    .image_container3{
        border-radius: 10px;
        width: 560px;
        height: 290px;
        object-fit: cover;
    }
}

/* [class*="col-"]{
    width: 100%
} */

@media only screen and (max-width: 768px){
    [class*="col-"]{
        width: 100%
    }

    .mob_heading{
        text-align: center;
    }
    
    .mob_profile{
        border-radius: 15px;
        width: 420px;
        height: 420px;        
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
    
    .mob_pic{
        border-radius: 15px;
        width: 420px;
        height: 210px;        
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }

    .mob_text{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.search input {
  width:50%;
  margin:0.5rem 0 0.5rem 0;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #eeeeee;
}